@page "/photos/{GalleryPath}"
@layout NoMenuLayout
@rendermode InteractiveServer
@using Directory = System.IO.Directory;
@using PSC.Blazor.Components.BrowserDetect
<link href="PhotosPage.css?v=102" rel="stylesheet" />
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject RequestInfoService RequestInfo
@inject IJSRuntime JSRuntime

<div class="page @(AllowLoadingPhotos ? "" : "pageFullScreen")">
<div class="content px-4">


<div class="header">
	@if(directory != null){
		<h1>@(directory.Title.Length > 1 ? directory.Title : GalleryPath)</h1>
		<p>@directory.description</p>
	}
	<hr />
</div>
<div class="mobileWarn" style="display: none; text-shadow: 1px 1px 3px white;">
	<img src="/gfx/bestviewedondesktop.png" />
	<p>Prohlížíte galerii na mobilním zařízení.<br />Pro lepší funkčnost prosím otevřete stránku na počítači.</p>
	<script>
		//on resize listener, that will show the warn if the width of viewer is smaller than 900px
		window.addEventListener('resize', function() {
			if (window.innerWidth < 600) {
				document.querySelector('.mobileWarn').style.display = 'block';
			} else {
				document.querySelector('.mobileWarn').style.display = 'none';
			}
		});
		if (window.innerWidth < 600) {
			document.querySelector('.mobileWarn').style.display = 'block';
		} else {
			document.querySelector('.mobileWarn').style.display = 'none';
		}
	</script>
</div>
<div class="gallery">
	@if(!string.IsNullOrEmpty(error)){
		<div class="error">
			<img src="/gfx/error.ico" style="width: 32px" />
			<div style="color: red; text-shadow: 0px 0px 3px white, 1px 1px 5px white;">@((MarkupString)error)</div>
		</div>
	}
	@{int index = 0;}
	@if(directory != null){
		@foreach (var subDir in directory.GetSortedSubdirectories()) {
			if(AllowLoadingPhotos){
				if(subDir.iconExists.Length > 1){
					<h2 class="textGlowWhite">
						<img src="@($"{rootPathWeb}/{GalleryPath}/Photos/{subDir.pathName}/{subDir.iconExists}")" style="width: 32px; height: 32px; vertical-align: middle; margin-right: 5px; margin-top: -5px;" />
						@subDir.name
					</h2>
				}
				else{
					<h2 class="textGlowWhite">@subDir.name</h2>
				}
				<p class="textGlowWhite">@((MarkupString)subDir.description)</p>
				<div class="gallerySubdir">
					@foreach(var photo in Photograph.SortPhotoGraphByDate(subDir.photographs)) {
						<Photo photograph="@photo" index="@index" whiteBorder="23" enlargeOnHover="true" maxSize="@maxPhotoSize" OnClick="PhotoClicked" showPin/>
						index++;
					}
				</div>
				<br />
			}
		}
	}
	@if(AllowLoadingPhotos && index == 0 ){
		  <div class="error">
			  <img src="/gfx/error.ico" style="width: 32px"/>
			  <div style="color: red; text-shadow: 0px 0px 3px white, 1px 1px 5px white;">Galerie neobsahuje žádné fotografie</div>
		  </div>
	}
	@if(directory == null && !AccessDenied){
		<p class="textGlowWhite"><img style="display: inline;" src="/gfx/busy aero fast.gif" />Fotky se načítají, čekejte prosím</p>
	}
</div>
</div> <!--close page-->
</div> <!--close content-->
<script>
	function setCookie(name, value, days) {
		var expires = "";
		if (days) {
			var date = new Date();
			date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
			expires = "; expires=" + date.toUTCString();
		}
		document.cookie = name + "=" + (value || "") + expires + "; path=/";
	}

	function getCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') c = c.substring(1, c.length);
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
		}
		return null;
	}

	var newString = "Zobrazit nové flex zobrazení";
	var oldString = "Zobrazit staré grid zobrazení";

	function setGrid(useGrid) {
		var galleries = document.querySelectorAll('.gallerySubdir');
		galleries.forEach(function (gallery) {
			if (useGrid) {
				gallery.classList.add('grid');
			} else {
				gallery.classList.remove('grid');
			}
		});
		document.getElementById('stareGridZobrazeni').innerText = useGrid ? newString : oldString;
		setCookie('useGrid', useGrid ? 'true' : 'false', 30); // Save the setting in a cookie
		console.log("changed view to " + (useGrid ? "old grid view" : "flex view"));
	}

	function grid() {
		console.log("grid mode change");
		var gallery = document.querySelector('.gallerySubdir');
		if (gallery.classList.contains('grid')) {
			setGrid(false);
		} else {
			setGrid(true);
		}
	}
	function setGridFromCookie() {
		var useGrid = getCookie('useGrid');
		if (useGrid === 'true') {
			setGrid(true);
		} else {
			setGrid(false);
		}
	}
	// Load the view setting from the cookie when the page is loaded
	window.addEventListener('load', function () {
		setGridFromCookie();
	});


</script>
<div class="@(AllowLoadingPhotos ? "" : "pinToBottom")">
	<button id="stareGridZobrazeni" class="AeroButton center-button" onclick="grid()">Zobrazit staré grid zobrazení</button>
	<div class="footer">
		<hr>
		<p class="programName"><a href="https://github.com/T0biasCZe/TWG5000/" class="no-a-deco">Tobik Web Gallery 5000</a></p>
		<p>© 2024 - 2025 T0biasCZe</p>
		<div class="buttons8831">
			<img src="/gfx/buttons/Blazor.png" />
			<img src="/gfx/buttons/kofola2.png" />
			<img src="/gfx/buttons/made_with_windows.gif" />
			<img src="/gfx/buttons/unraid2.png" />
			<img src="/gfx/buttons/Arch.png" />
			<img src="/gfx/buttons/winserver2022.png" />
			<img src="/gfx/buttons/wmp.png" />
			<img src="/gfx/buttons/iso8601.png" />

			@if (Info?.BrowserName.Contains("Firefox") == true){
				<img src="/gfx/buttons/optimalizedforfirefox.gif" />
			}
			else {
				if (Info?.DeviceType == "Phone") {
					<a href="https://www.mozilla.org/cs/firefox/browsers/mobile/"> <img src="/gfx/buttons/get-firefox.gif" /></a>
				}
				else {
					<a href="https://www.mozilla.org/cs/firefox/new/"> <img src="/gfx/buttons/get-firefox.gif" /></a>
				}
			}
		</div>
	</div>
	@if(directory != null && directory.enableComments){
		if(AllowLoadingPhotos){
			if(!string.IsNullOrEmpty(fullWindowsPath)){
				<CommentSection Path="@(fullWindowsPath.Replace(@"\Photos", @"\"))" WebPath="@(rootPathWeb + GalleryPath)" info="@RequestInfo" />
			}
		}
	}
</div>
<PhotoEnlarge @ref="photoEnlarge" />


<BrowserDetect @bind-BrowserInfo="@Info"/>

@code {
	private bool AllowLoadingPhotos = false;
	private bool AccessDenied = false;
	Size maxPhotoSize = new Size(400, 300);
	string error = "";
	[Parameter] public required string GalleryPath { get; set; }
	Models.Directory directory = null;

	public BrowserInfo? Info { get; set; }

	public static string rootPath = "";
	public static string rootPathWeb = "";
	public string fullWindowsPath = "";
	public string password = "";
	public bool errorOnInit = false;
	HttpContext? ctx;
	protected override void OnInitialized() {
		var ctx = HttpContextAccessor.HttpContext;
        if (ctx != null && ctx.Items.ContainsKey("RequestInfo"))
        {
            var info = (RequestInfoService)ctx.Items["RequestInfo"];
            RequestInfo.IpAddress = info.IpAddress;
            RequestInfo.UserAgent = info.UserAgent;
            RequestInfo.Referer = info.Referer;
            RequestInfo.Path = info.Path;
        }

		string baseDirectory = AppContext.BaseDirectory;

		//check if file "startDir.txt" exists next to the program exe
		string rootPathFile = Path.Combine(baseDirectory, "rootPath.txt");
		if(System.IO.File.Exists(rootPathFile)) {
			Console.WriteLine("Root path found");
			rootPath = System.IO.File.ReadAllText(rootPathFile);
		}
		else {
			Console.WriteLine("Root path not found");
		}

		// Check if file "rootPathWeb.txt" exists next to the program exe
		string rootPathWebFile = Path.Combine(baseDirectory, "rootPathWeb.txt");
		if(System.IO.File.Exists(rootPathWebFile)) {
			Console.WriteLine("Root path web found");
			rootPathWeb = System.IO.File.ReadAllText(rootPathWebFile);
		}
		else {
			Console.WriteLine("Root path web not found");
		}

		if(string.IsNullOrEmpty(rootPath)) {
			error = "Nelze načíst fotografie, protože program nemá nastaven kořenový adresář se zdrojem fotografií<br>" +  
			"Unable to load photographs, because the program doesnt have root directory setup";
			errorOnInit = true;
			return;
		}
		if(string.IsNullOrEmpty(rootPathWeb)) {
			error = "Nelze načíst fotografie, protože program nemá nastaven kořenový adresář pro web<br>" +  
			"Unable to load photographs, because the program doesnt have root directory setup for web";
			errorOnInit = true;
			return;
		}

		firstRender = true;
	}
	bool firstRender = true;
	protected async override Task OnAfterRenderAsync(bool firstRender) {
		if(!errorOnInit && firstRender) {
			Console.WriteLine("First render");
			fullWindowsPath = rootPath + "\\" + GalleryPath + "\\Photos";
			//check if the path exists
			if(!Directory.Exists(fullWindowsPath)) {
				error = "Nelze načíst fotografie, protože na specifikované adrese není žádná fotogalerie<br>" +
				"Unable to load photographs, because there is no gallery at the specified address";
				errorOnInit = true;
				return;
			}
			Console.WriteLine("Loading directory: " + fullWindowsPath);
			directory = Models.Directory.LoadDirectory(fullWindowsPath);
			if(directory.PasswordProtected) {
				Console.BackgroundColor = ConsoleColor.Yellow;
				Console.ForegroundColor = ConsoleColor.Black;
				Console.WriteLine("Password protected gallery");
				//check if the url contains query parameter "psw"
				string uri = NavigationManager.Uri;
				//parse the psw parameter from the url
				var uriBuilder = new UriBuilder(uri);
				var query = System.Web.HttpUtility.ParseQueryString(uriBuilder.Query);
				password = query.Get("psw");
				string loginUrl = "photos/" + GalleryPath + "/login";
				if(string.IsNullOrEmpty(password)) {
					Console.BackgroundColor = ConsoleColor.Yellow;
					Console.WriteLine("Password not entered");

					//redirect to the login page
					//NavigationManager.NavigateTo("photos/" + GalleryPath + "/login");
					error = $"Tahle fotogalerie požaduje k přístupu heslo.<br>This Photogallery requires password to be entered<br><a href='{loginUrl}'>Zpátky na příhlášení<br>Back to login</a>";
					AccessLog("Pokus o načtení galerie bez hesla", "");
					AccessDenied = true;
				}
				else {
					Console.BackgroundColor = ConsoleColor.Yellow;
					Console.ForegroundColor = ConsoleColor.Black;
					Console.WriteLine("Password entered: " + password);
					//check if the password is correct
					if(directory.passwords.Any(p => p.password == password)) {
						Console.BackgroundColor = ConsoleColor.Green;
						Console.WriteLine("Password correct");
						//password correct
						AllowLoadingPhotos = true;
						AccessLog("Načtení galerie se správným heslem", password);
					}
					else {
						Console.BackgroundColor = ConsoleColor.Red;
						Console.WriteLine("Password incorrect");
						//password incorrect
						error = $"Nesprávné heslo<br>Incorrect password<br><a href='{loginUrl}'>Zpátky na příhlášení<br>Back to login</a>";
						AccessLog("Pokud o načtení se špatným heslem", password);
						AccessDenied = true;
					}
				}
			}
			else {
				AccessLog("Načtení nezaheslované galerie", "");
				Console.BackgroundColor = ConsoleColor.Green;
				Console.ForegroundColor = ConsoleColor.Black;
				Console.WriteLine("Gallery not password protected, allowing load");
				AllowLoadingPhotos = true;
			}
			Console.ResetColor();
		}
		else {
			Console.WriteLine("Not first render");
		}
		firstRender = false;

		await JSRuntime.InvokeVoidAsync("setGridFromCookie");
	}
	private PhotoEnlarge? photoEnlarge;
	protected void PhotoClicked(Photograph photo) {
		Console.WriteLine("photospage.razor, PhotoClicked");
		if (photoEnlarge == null){
			Console.WriteLine("PhotoEnlarge is null");
			return;
		}
		photoEnlarge.photograph = photo;
		photoEnlarge.commentsEnabled = directory?.enableComments ?? false;
		photoEnlarge.Show();
		photoEnlarge.TriggerStateChange(); // Call the new method to trigger state change
	}
	public void AccessLog(string zprava, string heslo) {
		AccessLogger.Log(
			RequestInfo.IpAddress,
			RequestInfo.Path,
			RequestInfo.UserAgent,
			RequestInfo.Referer,
			heslo, zprava
		);
	}
}
